[defaults]
# расположение ролей
roles_path = m.filatova_ansible/roles
host_key_checking = False
stdout_callback = yaml
# расположение inventory с виртуалками
inventory = inventory/hosts.ini
collections_path = .
vault_password_file = .vault_pass